<!doctype html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="http://libs.useso.com/js/bootstrap/3.1.0/css/bootstrap.min.css">
        
        <script src="http://libs.useso.com/js/angular.js/1.2.9/angular.min.js"></script>
        <script src="http://libs.useso.com/js/angular.js/1.2.9/angular-resource.min.js"></script>

        <script src="/static/js/app.js"></script>
        <script src="/static/js/controllers.js"></script>
        <script src="/static/js/services.js"></script>

        <script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://libs.useso.com/js/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    </head>

    <body>
        Welcome
    </body>
</html>
